@font-face {
    font-family: TitilliumLight;
    src: url('fonts/TitilliumText22L-Light.otf') format("opentype");

    font-family: TitilliumMedium;
    src: url('fonts/TitilliumMedium.otf') format("opentype");
}
body{
	background:url('IMG/background.png') no-repeat center center fixed;
    background-size:cover;
    box-sizing: border-box;
    max-width: 1200px;
    margin: 0 auto;
}
.container{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}
#RegForm{
	width: 400px;
	height: 424px;
	border:18px solid rgba(0,0,0,0.3);
	background-color:#f4f4f4;
	background-clip: padding-box;
	border-radius: 4px;
}
#RegForm input[type="submit"]
{
     width: 340px;
     height: 48px;
     display: block;
     margin: 35px auto;
     border-radius: 6px;
     background: linear-gradient(to bottom, #addc54 0%, #7ec31f 100%);
     clear:both;
     color:white;
     font-size: 20pt;
     outline-style:none;
     cursor:pointer;
     font-family: "TitilliumLight;"
}
#RegForm3 input[type="submit"]  
{
     width: 340px;
     height: 48px;
     display: block;
     margin: 36px auto;
     border-radius: 6px;
     background: linear-gradient(to bottom, #addc54 0%, #7ec31f 100%);
     clear:both;
     color:white;
     font-size: 20pt;
     outline-style:none;
     cursor:pointer;
     font-family: "TitilliumLight;"
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #afafaf;
}
input:-moz-placeholder, textarea:-moz-placeholder {
  color: #afafaf;
}
#left_button
{
     width: 148px;
     height: 40px;
     display: block;
     border-radius: 6px;
     background: linear-gradient(to bottom, #addc54 0%, #7ec31f 100%);
     clear:both;
     color:white;
     font-size: 15pt;
     outline-style:none;
     cursor:pointer;
}
#right_button
{
     width: 148px;
     height: 40px;
     display: block;
     border-radius: 6px;
     background: linear-gradient(to bottom, #f65e70 0%, #f13949 100%);
     clear:both;
     color:white;
     font-size: 15pt;
     outline-style:none;
     cursor:pointer;
}
#button_wrap{
    width: 148px;
    height: 40px;
    display: block;
    border-radius: 6px;
    background: linear-gradient(to bottom, #addc54 0%, #7ec31f 100%);
    clear: both;
    color: white;
    font-size: 20px;
    outline-style:none;
    cursor:pointer;
}
#right_button_recovery{
     width: 148px;
     height: 40px;
     display: block;
     border-radius: 6px;
     background: linear-gradient(to bottom, #addc54 0%, #7ec31f 100%);
     clear:both;
     color:white;
     font-size: 15pt;
     opacity: 0.555;
     outline-style:none;
     cursor:pointer;
}
#RegForm input[type="text"],
#RegForm2 input[type="text"],
#RegForm3 input[type="text"],
#RegForm4 input[type="text"],
#RegForm5 input[type="text"]
{
    width: 208px;
    height: 40px;
    margin: 20px auto;
    display: block;
    border-radius: 7px;
    padding: 0 65px;
    color:#afafaf;
    outline-style:none;
    border: 1px solid #c6c6c6;
    background: transparent;
    cursor:pointer;
    font-family: "TitilliumLight;"
}
#last{
	background: transparent;
    width: 340px;
    height: 40px;
    margin: 10px auto !important;
    display: block;
    border-radius: 7px;
}
 .form1 p,
 .form2 p ,
 .form3 p ,
 .form4 p,
 .form5 p
 {
	text-align: center;
	width: 436px;
	color:white;
	font-size: 32px;
	margin:13px 0px;
    font-family: 'TitilliumMedium';
}
.agree {
    width: 384px;
    margin: 0 23px;
    font-size: 17px;
    float:left;
}
.wrap{
    width: 340px;
    margin: 23px auto;
}
.wrap2{
    width: 340px;
    margin: 18px auto;
}
 .checkboxtxt {
    width: 300px;
    margin: 3px 39px;
    color:#afafaf;
}
 .checkboxtxt2 {
    width: 120px;
    margin: 3px 39px;
    color:#afafaf;
}
.checkboxtxt3 {
    width: 100px;
    margin: 3px 39px;
    color:#afafaf;
}
#username{
    background: url(IMG/icons/user.png) left no-repeat;
    background-size: 25px 25px;
    width: 25px;
    height: 40ox;
    height: 25px;
    position: absolute;
    border-radius: 1px solid #afafaf;
    margin: 7px 17px;
    border-right: 1px solid #dedede;
    padding: 0px 5px;
}
#password{
    background: url(IMG/icons/lock.png) left no-repeat;
    background-size: 25px 25px;
    width: 25px;
    height: 40px;
    height: 25px;
    position: absolute;
    border-radius: 1px solid #afafaf;
    margin: 7px 17px;
    border-right: 1px solid #dedede;
    padding: 0px 5px;
}
#email{
    background: url(IMG/icons/envelope.png) left no-repeat;
    background-size: 25px 17px;
    width: 25px;
    height: 40ox;
    height: 17px;
    position: absolute;
    border-radius: 1px solid #afafaf;
    margin: 13px 17px;
    border-right: 1px solid #dedede;
    padding: 0px 5px;
}
#location{
    background: url(IMG/icons/google_maps.png) left no-repeat;
    background-size: 18px 24px;
    width: 18px;
    height: 24px;
    position: absolute;
    border-radius: 1px solid #afafaf;
    margin: 10px 23px;
    border-right: 1px solid #dedede;
    padding: 0px 5px;
}
#phone{
    background: url(IMG/icons/phone.png) left no-repeat;
    background-size: 18px 28px;
    width: 22px;
    height: 40ox;
    height: 27px;
    position: absolute;
    border-radius: 1px solid #afafaf;
    margin: 8px 22px;
    border-right: 1px solid #dedede;
    padding: 0px 5px;
}
select{
    width: 340px;
    height: 42px;
    margin-bottom: 18px;
    padding: 0 65px;
    border-radius: 7px;
    background: transparent;
    color: #afafaf;
    outline-style:none;
}
select{
    background: #f4f4f4;
    color: #afafaf;
    cursor:pointer;
}
.form_top{
    width: 1000px;
    margin:0 auto;
    justify-content: space-between;
    display: flex;
}
.form1 ,
.form2{
    margin: 50px;
    font-family: 'TitilliumMedium';
}
.form3{
    margin: -140px 50px;
}
.form4{
   margin: -30px 50px;
}

#logo {
    display: flex;
    justify-content: center;
    opacity: 0.2;
    margin-top: 50px;
}
#RegForm2{
    width: 400px;
    height: 210px;
    border:18px solid rgba(0,0,0,0.3);
    background-color:#f4f4f4;
    background-clip: padding-box;
    border-radius: 4px;
}
#RegForm3{
    width: 400px;
    height: 500px;
    border:18px solid rgba(0,0,0,0.3);
    background-color:#f4f4f4;
    background-clip: padding-box;
    border-radius: 4px;
}
#RegForm4{
    width: 400px;
    height: 150px;
    border:18px solid rgba(0,0,0,0.3);
    background-color:#f4f4f4;
    background-clip: padding-box;
    border-radius: 4px;
}
#RegForm5{
    width: 400px;
    height: 210px;
    border:18px solid rgba(0,0,0,0.3);
    background-color:#f4f4f4;
    background-clip: padding-box;
    border-radius: 4px;
}
.wrap_flex {
    display: flex;
    max-width: 100%;
    width: 972px;
    justify-content: flex-end;
}
.wrap textarea {
    background: transparent;
    border-radius: 5px;
    color: #afafaf;
    height: 200px;
    width: 315px;
    padding: 12px;
    max-width: 341px;
    max-height: 219px;
    outline-style: none;
}
.wrap_log ,.log_wrap{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

input[type="checkbox"]{
    display: none
}
.checkbox {
    width: 100px;
    height: 5px;
}
 .checkbox2 label{
    width: 24px;
    height: 24px;
    position: absolute;
    background-color: transparent;
    border: 1px solid #c6c6c6;
    border-radius: 3px;
    cursor: pointer;
}
 .checkbox label{
    color :red;
    width: 24px;
    height: 24px;
    position: absolute;
    background-color: transparent;
    border: 1px solid #c6c6c6;
    border-radius: 3px;
    cursor: pointer;
}
#c1 + label span{
    width: 12px;
    height: 12px;
    border: 1px solid #c6c6c6;
    position: absolute;
    background-color: #8ac915;
    border-radius: 3px;
    left: 5px;
    top: 5px;
    opacity: 0;
}
#c1:checked + label span{
       opacity: 1
}
#c2 + label span{
    width: 12px;
    height: 12px;
    border: 1px solid #c6c6c6;
    position: absolute;
    background-color: #8ac915;
    border-radius: 3px;
    left: 5px;
    top: 5px;
    opacity: 0;
}
#c2:checked + label span{
       opacity: 1
}
.checkbox3 label{
    color :red;
    width: 24px;
    height: 24px;
    position: absolute;
    background-color: transparent;
    border: 1px solid #c6c6c6;
    border-radius: 3px;
    cursor: pointer;
}
.checkbox3 {
    width: 50px;
    height: 20px;
}
#c3 + label span{
    width: 12px;
    height: 12px;
    border: 1px solid #c6c6c6;
    position: absolute;
    background-color: #8ac915;
    border-radius: 3px;
    left: 5px;
    top: 5px;
    opacity: 0;
}
#c3:checked + label span{
       opacity: 1
}
.test{
    
}

@media (max-width: 1088px) {
    
   .form4{
         margin: 0 50px;
         } 
    .wrap_flex{
        justify-content:center;
    }
    .form3{
    margin: 0 50px;
    }
}